html {
  font-size: $base-font-size;
}
body {
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
  }
  main {
    display: block;
  }
  img {
    max-width: 100%;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  