@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }
    @return $number;
}
  
@function rem($size) {
      @return (strip-unit($size) / strip-unit($base-font-size)) * 1rem;
}
@mixin media($breakpoint) {
    @each $breakpoint-name, $breakpoint-query in $base--breakpoints {
      @if $breakpoint == $breakpoint-name {
        @media #{$breakpoint-query} {
          @content;
        }
      }
    }
  }