.max-bound {
    width: 100%;
    max-width: rem(1400);
    margin: 0 auto;
    position: relative;
}

.outer-pad {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: rem(48) rem(16);
    @include media("800") {
        padding: rem(48) rem(64);
    }
    @include media("1200") {
        padding: rem(48) rem(184);
    }
    &.outer-pad--small{
        padding: rem(16);
        @include media('800') {
            padding: rem(28);  
        }
    }
    &.outer-pad--0mobile{
        padding: 0;
        @include media("600") {
            padding: rem(48) rem(16);
        }
        @include media("800") {
            padding: rem(48) rem(64);
        }
        @include media("1200") {
            padding: rem(48) rem(184);
        }
    }
}

.section {
    margin: rem(48) 0 0 0;
}

section {
    &>h2:first-of-type {
        margin: 0 0 rem(48) 0
    }
}

#content {
    padding: rem(40) 0 0 0;
    @include media('600') {
        padding: rem(50) 0 0 0;
    }
    @include media('800'){
        padding: 0;
    }
}