/* Base
========================================================================== */

body {
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: 400;
}
h1, .h1 {
  color: #fff;
  line-height: (60 / 60);
  margin: 0;
  font-weight: 400;
  @include media('600') {
    font-size: rem(36);
  }
  @include media('800') {
    font-size: rem(42);
  }
  @include media('1000') {
    font-size: rem(60);
  }
  &.h1--nav {
    font-size: rem(20);
    font-weight: 400;
    line-height: (38 / 32);
      @include media('800') {
        font-size: rem(32); 
      }
  }
}

h2, .h2 {
  color: $gray1;
  line-height:(48 / 45);
  margin: 0;
  font-size: rem(45);
  font-weight: 400;
  &.h2--white{
    color: #fff;
    font-size: rem(28);
    @include media('600') {
      font-size: rem(20);
    }
    @include media('800') {
      font-size: rem(28);
    }
    @include media('1000') {
      font-size: rem(45);
    }
  }
  .section &{
    &:first-child{
      margin-top: 0;
      margin-bottom: rem(40);
    }
  }
}
h3, .h3{
  margin-bottom: rem(4)!important;
  @include media('600') {
    margin-bottom: rem(8)!important;
  }
  @include media('700') {
    margin-bottom: rem(8)!important;
  }
}
.bold{
  font-weight: 700;
}
.button {
  background-color: rgba(0, 0, 0, .20);
  border: rem(1) solid #fff;
  color: #fff;
  display: block;
  cursor: pointer;
  font-family: $base-font-family;
  font-weight: 400;
  font-size: rem(14);
  line-height: (24 / 14);
  opacity: 1;
  padding: rem(4) rem(8);
  transition: color .3s, background-color .3s, transform .3s, opacity .3s;
  @include media('320') {
    padding: rem(4) rem(16);
  }
  @include media('700') {
    padding: rem(8) rem(24);
  }
  &:hover, &:focus {
    background-color: #fff;
    color: $gray1;
    transform: scale3d(1.05, 1.05, 1.05);
  }
  &.button--reverse {
    background-color: transparent;
    border-color: $gray1;
    border-width: rem(2);
    color: $gray1;
    font-size: rem(20);
    line-height: (24 / 20);
    &:hover, &:focus {
      background-color: #fff;
    }
  }
  &:disabled, &[disabled] {
      pointer-events: none;
      opacity:.5;
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    background-color: #fff;
    color: #000;
    &:focus,
    &:active {
      clip: auto !important;
      -webkit-clip-path: none !important;
      clip-path: none !important;
      height: auto !important;
      margin: auto !important;
      overflow: visible !important;
      width: auto !important;
      white-space: normal !important;
    }
  }