/* Colors 
    ========================================================================== */
$yellow:#ffad1d;
$yellow--alpha: rgba(255, 173, 29, .7);
$gold: gold;
$teal:#1cbbb4;
$teal--alpha: rgba(28, 187, 180, .7);
$teal--dark:blue;
$gray1: #333333;
$gray2: #464646;
$gray3: #ebebeb;
$gray4: #979797;

/* Fonts 
    ========================================================================== */
$base-font-size: 16px !default;
$base-font-family: "Lato", sans-serif;
$base-font-color: $gray1;

/* Breakpoints 
    ========================================================================== */
$base--breakpoints: (
    ("320", "(min-width: 320px)"),
    ("400", "(min-width: 400px)"),
    ("500", "(min-width: 500px)"),
    ("600", "(min-width: 600px)"),
    ("700", "(min-width: 700px)"),
    ("800", "(min-width: 800px)"),
    ("900", "(min-width: 900px)"),
    ("1000", "(min-width: 1000px)"),
    ("1200", "(min-width: 1200px)")
) !default;