.voting-box-feed{
    display: block;
    @include media('600') {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-20);
    }
    @include media('800') {
        margin-left: rem(-40);
    }
    &__col{
        width: 100%;
        margin-bottom: rem(20);
        @include media('600') {
            box-sizing: border-box;
            flex: 0 1 auto;
            padding-left: rem(20);
            width: 50%;
        }
        @include media('800') {
            margin-bottom: rem(40);
            padding-left: rem(40);
        }
    }
}
.voting-box {
    position: relative;
    &__image {
        display: block;
        height: 0;
        position: relative;
        padding-bottom: 180%;
        @include media('320'){
            padding-bottom: 140%;
        }
        @include media('400'){
            padding-bottom: 112%;
        }
        @include media('500'){
            padding-bottom: 85%;
        }
        @include media('600'){
            padding-bottom: 160%;
        }
        @include media('800'){
            padding-bottom: 112%;
        }
        img {
            display: block;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            width: 100%;
        }
        &::after {
            background-image: linear-gradient(0deg, #000000 60%, transparent 100%);
            bottom:0;
            content: '';
            display: block;
            height: 70%;
            opacity: .65;
            position: absolute;
            width: 100%;
        }
    }
    &__info {
        background-color: transparent;
        bottom: 0;
        box-sizing: border-box;
        display: block;
        left: 0;
        padding: rem(16) rem(16) 0 rem(40);
        position: absolute;
        width: 100%;
        @include media('320'){
            padding: rem(16) rem(32) 0 rem(40);
        }
        @include media('800'){
            padding: rem(16) rem(40) 0 rem(40);
        }   
    }
    &__title {
        display: block;
        position: relative;
    }
    &__name {
        margin-right: rem(-24);
    }
    &__state, &__thumb-button {
        background-color: $gray1;
        height: rem(32);
        width: rem(32);
    }
    &__state {
        background-color: $teal;
        bottom: rem(-3);
        display: block;
        height: rem(32);
        left: rem(-40);
        position: absolute;
        width: rem(32);
        @include media('800') {
            bottom: 0; 
        }
        @include media('1000') {
            bottom: rem(8); 
        }
        &.voting-box__state--down {
            background-color: $yellow;
            svg {
                transform: scale(-1) translateX(50%) translateY(50%);
            }
        }
    }
    &__description{
        color: #fff;
        font-weight: 300;
        line-height: (24 / 21);
        margin: rem(8) 0;
        position: relative;
        span {
            transition: opacity .3s;
        }
        &>:first-child {
            opacity: 0;
        }
        &>:last-child {
            height: 100%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &.voting-box__description--show {
            &>:first-child {
                opacity: 1;
            }
            &>:last-child {
                opacity: 0;
            }
        }
    }
    &__date {
        color: #fff;
        font-size: rem(12);
    }
    &__controls{
        align-items: center;
        display: flex;
        height: rem(42);
        width: 100%;
        margin: rem(16) 0;
    }
    &__controls-wrapper{
        display: flex;
    }
    &__svg-icon{
        fill: #fff;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: transform .3s;
        width: rem(18);
        .voting-box__thumb-down & {
            transform: scale(-1) translateX(50%) translateY(50%);
        }

    }
    &__thumb-button {
        border: rem(2) solid transparent;
        cursor: pointer;
        margin-right: rem(10);
        position: relative;
        transition: border-color .3s, background-color .3s;
        
        &:hover,&:focus, &.voting-box__thumb-button--picked {
            border-color: #fff;
        }
        
        input[type="radio"] {
            opacity: 0;
            &:checked+span &{ font-weight: bold; }
        }
    }
    &__thumb-up {
        background-color: $teal;
    }
    &__thumb-down {
        background-color: $yellow;
    }
    &__vote {
        display: inline-block;
        position: absolute;
        transform: translateX(0) scale3d(1, 1, 1);
        transition: transform .3s, color .3s, background-color .3s, opacity .3s;
        &.voting-box__vote--active {
            transform: translateX(#{rem(92)}) scale3d(1, 1, 1);
            &:hover, &:focus {
                transform: translateX(#{rem(92)}) scale3d(1.05, 1.05, 1.05);
            }
        }
        &:hover, &:focus {
            transform: translateX(0) scale3d(1.05, 1.05, 1.05);
        }
        body:not(.js) & {
            transform: translateX(#{rem(92)}) scale3d(1, 1, 1);
        }
    }
    &__voting-count {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        font-size: rem(16);
        font-weight: 300;
        height: rem(32);
        line-height: (35 / 30);
        margin: 0 rem(-16) 0 rem(-40);
        @include media('320') {
            margin: 0 rem(-32) 0 rem(-40);
        }
        @include media('700') {
            font-size: rem(30);
            height: rem(50);
        }
        @include media('800') {
            margin: 0 rem(-40) 0 rem(-40);
        }
    }
    &__thumbs-up-count, &__thumbs-down-count {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        line-height: 1;
        position: relative;
    }
    &__thumbs-up-count{
        background-color: $teal--alpha;
        color: #fff;
        padding-left: rem(32);
        text-align: left;
        width: 50%;
        .voting-box__svg-icon {
            left: rem(16);
            width: rem(20);
        }
    }
    &__thumbs-down-count{
        background-color: $yellow--alpha;
        color: #fff;
        height: 100%;
        justify-content: flex-end;
        padding-right: rem(32);
        transition: width .3s;
        width: 50%;
        min-width: 18%;
        .voting-box__svg-icon {
            left: auto;
            right: rem(-4);
            width: rem(20);
        }
    }
    &__legend {
        color: #fff;
        font-weight: 300;
        opacity: .74;
    }
}
.voting-box.voting-box--featured{
    .voting-box__info {
        background-color: $gray1;
        display: block;
        padding: rem(32) rem(16);
        position: relative; 
        @include media('600'){
            background-color: rgba(74, 74, 74, .6);
            padding: rem(32);
        }
        &::before {
            backdrop-filter: blur(16px);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &> div {
            position: relative;
        }
    }
    .voting-box__controls {
        display: flex;
        height: rem(40);
        margin: 0;
        @include media('1000') {
            height: rem(60);
        }
        @include media('1200') {
            height: rem(80);
        }
    }
    .voting-box__vote {
        box-shadow: inset 0 0 rem(5) rem(6) transparent;
        cursor: pointer;
        display: block;
        height: 100%;
        position: relative;
        width: 50%;
        transform: none;
        transition: box-shadow .3s;
        &:hover, &:focus {
            box-shadow: inset 0 0 rem(5) rem(6) #000;
            .voting-box__svg-icon {
                transform: translateX(-50%) translateY(-50%) scale3d(1.1, 1.1, 1.1);
            }
        }
        &::before {
            content: "";
            display: block;
            height: 100%;
            opacity: .9;
            position: absolute;
            width: 100%;
        }
    }
    .voting-box__upvote {
        &::before {
            background-color: $teal;
        }
    }
    .voting-box__downvote {
        .voting-box__svg-icon {
            transform: scale3d(-1, -1, 1) translateX(50%) translateY(50%);
        }
        &::before {
            background-color: $yellow;
        }
        &:hover, &:focus {
            .voting-box__svg-icon{
                transform: scale3d(-1.1, -1.1, 1) translateX(50%) translateY(50%);
            }
        }
    }
    .voting-box__svg-icon{
        height: rem(24);
        width: rem(24);
        @include media('1000') {
            height: rem(32);
            width: rem(32);
        }
        @include media('1200') {
            height: rem(38);
            width: rem(38);
        }
        
    }
    .voting-box__more {
        color: #fff;
        display: block;
        font-size: rem(14);
        font-weight: 300;
        margin: rem(16) 0 rem(16) 0;
        padding-left: rem(20);
        position: relative;
        text-decoration: none;
        transform: scale3d(1, 1, 1);
        transform-origin: left center;
        transition: transform .3s;
        &:hover, &:focus {
            transform: scale3d(1.1, 1.1, 1.1);
        }
        span {
            border-bottom: rem(1) solid #fff;
        }
        @include media('800') {
            margin: rem(24) 0 rem(32) 0;
        }
    }
    .voting-box__description {
        font-size: rem(18);
        margin: rem(16) 0 0 0;
        @include media('800'){
            font-size: rem(21);
            margin: rem(30) 0 0 0;
        }
    }
    .voting-box__more-icon {
        fill: #fff;
        height: auto;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-35%);
        width: rem(18);
    }
    .voting-box__veredict {
        color: #fff;
        font-size: rem(20);
        font-weight: 700;
        line-height: (24 / 20);
    }
}
.voting-box--fade-enter-active, .voting-box--fade-leave-active {
    transition: opacity .5s;
}
.voting-box--fade-enter, .voting-box--fade-leave-to {
    opacity: 0;
}