<template>
    <div class="voting-box">
        <div class="voting-box__image"><img :src="data.img" alt=""></div>
            <div class="voting-box__info">
                <div class="voting-box__title">
                    <div class="voting-box__state" :class="{'voting-box__state--down' : stateStatus }">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                            <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                        </svg>
                    </div>
                    <div class="voting-box__name"><h3 class="h2 h2--white">{{data.name}}</h3></div>
                </div>
                <div class="voting-box__date"><span class="bold">{{data.date}} ago </span><span>in {{data.source}}</span></div>
                <div class="voting-box__description" :class="{'voting-box__description--show' : voting }">
                    <span>{{data.description}}</span>
                    <span>Thank you for voting!</span>
                </div>
                <div class="voting-box__controls">
                    <transition name="voting-box--fade">
                        <div v-if="voting" class="voting-box__controls-wrapper">
                            <label v-if="voting" :for="index + '-upvote'" class="voting-box__thumb-button voting-box__thumb-up" :class="{'voting-box__thumb-button--picked': picked == 'upvotes' }">
                                <input type="radio" :id="index + '-upvote'" value="upvotes" v-model="picked">
                                <span class="sr-only">thumb up</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                                </svg>
                            </label> 
                            <label v-if="voting" :for="index + '-downvote'" class="voting-box__thumb-button voting-box__thumb-down" :class="{'voting-box__thumb-button--picked': picked == 'downvotes' }" >
                                <input type="radio" :id="index + '-downvote'" value="downvotes" v-model="picked">
                                <span class="sr-only">thumb down</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                                </svg>
                            </label> 
                        </div>                                              
                    </transition>
                    <transition name="slide-fade">
                        <button :disabled="checkForVoteSelected" class="button voting-box__vote" :class="{'voting-box__vote--active': voting}" @click="vote(picked)"><span>{{votingButtonMssg}}</span></button>
                    </transition>
                </div>
                <div class="voting-box__voting-count">
                    <div class="voting-box__thumbs-up-count" :style="{ width: upVotePercentage + '%' }">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                            <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                        </svg>
                        <span>{{upVotePercentage}}%</span>
                    </div>
                    <div class="voting-box__thumbs-down-count voting-box__thumb-down" :style="{ width: downVotePercentage + '%' }">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                            <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                        </svg>
                        <span>{{downVotePercentage}}%</span>
                    </div>
                </div>
            </div>
    </div>
</template>

<script lang="ts">
export default {
    name: "voting-card",
    data: function() {
        return{
          totalVotes: 0,
          downVotePercentage: 0,
          upVotePercentage : 0,
          picked : [],
          voting: true,
          votingButtonMssg: "Vote Now",
          stateStatus : Boolean,
          description : this.data.description,
          votingIsDisabled : false
        };
    },
    props: {
        data: {
            type: Object,
            required: true,
        },
        index: {
            type:Number
        }
    },
    beforeMount() {
        this.totalVotesCalculate();
    },
    computed: {
        checkForVoteSelected() {
            if(this.picked.length || !this.voting) {
                return false
            } else return true
        }
    },
    methods: {
      vote: function (action = String) {
            if(this.voting) {
                this.data[`${action}`] += 1;
                this.totalVotesCalculate();
                this.voting = !this.voting;
                this.picked = [];
                this.votingButtonMssg = "Vote Again";
                this.saveFile()
            } else {
                this.voting = !this.voting;
                this.votingButtonMssg = "Vote Now";
                this.description = this.data.description;
            }
      },
      totalVotesCalculate: function() {
          this.totalVotes = this.data.upvotes + this.data.downvotes;
          this.downVotePercentage = this.calculatePercentages(this.data.downvotes);   
          this.upVotePercentage = this.calculatePercentages(this.data.upvotes);  
          this.stateStatus = this.calculateState();
      },
      calculateState: function() {
          if (this.data.upvotes > this.data.downvotes) {
              return false
          } else return true;
      },
      calculatePercentages: function(totalUporDownVotes) {
          let votePercentage = (totalUporDownVotes * 100) / this.totalVotes;
          return Math.round(votePercentage);
      },
      saveFile: function() {
        let data = JSON.stringify(this.$parent.people)
            window.localStorage.setItem('people', data);
        }
    }
};
</script>