<div class="voting-box">
    <div class="voting-box__image"><img src="{{ path '/img/kanye.jpg' }}" alt=""></div>
    <div class="voting-box__info">
        <div class="voting-box__title">
            <div class="voting-box__state">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                </svg>
            </div>
            <div class="voting-box__name">
                <h3 class="h2 h2--white">Kanye West</h3>
            </div>
        </div>
        <div class="voting-box__date"><span class="bold">1 Month ago</span><span> in Entertainment</span></div>
        <div class="voting-box__description">Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus.</div>
        <div class="voting-box__controls">
            <button class="voting-box__thumb-button voting-box__thumb-up">
                <span class="sr-only">thumb up</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                </svg>
            </button>
            <button class="voting-box__thumb-button voting-box__thumb-down">
                <span class="sr-only">thumb down</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                </svg>
            </button>
            <button class="button voting-box__vote"><span>Vote Now</span></button>
        </div>
        <div class="voting-box__voting-count">
            <div class="voting-box__thumbs-up-count">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                </svg>
                <span>64%</span>
            </div>
            <div class="voting-box__thumbs-down-count">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon">
                    <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/>
                </svg>
                <span>64%</span>
            </div>
        </div>
    </div>
</div>