<div class="voting-box voting-box--featured">
    <div class="voting-box__info">
        <div class="voting-box__title">
            <div class="voting-box__legend">What’s your opinion on</div>
            <h2 class="h1">Pope Francis?</h2>
        </div>
        <div class="voting-box__description">He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up) </div>
        <a href="#" class="voting-box__more">
            <svg xmlns="http://www.w3.org/2000/svg" class="voting-box__more-icon" stroke-miterlimit="10" shape-rendering="geometricPrecision" fill-rule="evenodd" viewBox="0 0 128 128"><path d="M120.85 29.21c0 .41-.13.78-.38 1.12-.26.33-.53.5-.84.5-2.49.24-4.54 1.04-6.12 2.41-1.59 1.36-3.22 3.97-4.91 7.81L82.8 99.19c-.17.54-.64.81-1.42.81-.61 0-1.08-.27-1.42-.81L65.49 68.93 48.85 99.19c-.34.54-.81.81-1.42.81-.74 0-1.23-.27-1.47-.81L20.61 41.05c-1.58-3.61-3.25-6.13-5.01-7.56-1.75-1.43-4.2-2.32-7.33-2.66-.27 0-.53-.14-.76-.43-.24-.28-.36-.61-.36-.98 0-.95.27-1.42.81-1.42 2.26 0 4.62.1 7.09.3 2.29.21 4.45.31 6.47.31 2.06 0 4.49-.1 7.29-.31 2.93-.2 5.53-.3 7.79-.3.54 0 .81.47.81 1.42 0 .94-.17 1.41-.5 1.41-2.26.17-4.04.75-5.34 1.72-1.3.98-1.95 2.26-1.95 3.85 0 .81.27 1.82.81 3.03l20.95 47.31 11.89-22.46-11.08-23.23c-1.99-4.14-3.63-6.82-4.91-8.02-1.28-1.19-3.22-1.93-5.82-2.2-.24 0-.46-.14-.68-.43-.22-.28-.33-.61-.33-.98 0-.95.23-1.42.71-1.42 2.26 0 4.33.1 6.22.3 1.82.21 3.76.31 5.82.31 2.02 0 4.16-.1 6.42-.31 2.33-.2 4.62-.3 6.88-.3.54 0 .81.47.81 1.42 0 .94-.16 1.41-.5 1.41-4.52.31-6.78 1.59-6.78 3.85 0 1.01.52 2.58 1.57 4.7l7.33 14.88 7.29-13.61c1.01-1.92 1.52-3.54 1.52-4.86 0-3.1-2.26-4.75-6.78-4.96-.41 0-.61-.47-.61-1.41 0-.34.1-.66.3-.96.21-.31.41-.46.61-.46 1.62 0 3.61.1 5.97.3 2.26.21 4.12.31 5.57.31 1.04 0 2.58-.09 4.6-.26 2.56-.23 4.71-.35 6.43-.35.4 0 .6.4.6 1.21 0 1.08-.37 1.62-1.11 1.62-2.63.27-4.75 1-6.35 2.18-1.6 1.18-3.6 3.86-5.99 8.04l-9.72 17.97 13.16 26.81 19.43-45.18c.67-1.65 1.01-3.17 1.01-4.55 0-3.31-2.26-5.06-6.78-5.27-.41 0-.61-.47-.61-1.41 0-.95.3-1.42.91-1.42 1.65 0 3.61.1 5.87.3 2.09.21 3.85.31 5.26.31 1.49 0 3.21-.1 5.16-.31 2.03-.2 3.85-.3 5.47-.3.47 0 .71.4.71 1.21z"/></svg>
            <span>More information</span>
        </a>
        <div class="voting-box__veredict">What’s Your Verdict?</div>
    </div>
    <div class="voting-box__controls">
        <div class="voting-box__vote voting-box__upvote">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon"> <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/> </svg>
        </div>
        <div class="voting-box__vote voting-box__downvote">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="voting-box__svg-icon"> <path data-name="thumb-icon" d="M148.555 1512.43c3.3-4.73 4.467-6.08 4.272-8.81s.363-3.5 1.691-3.63 3.823.57 4.261 5.05c.189 1.94-1.232 5.76-1.232 5.76h9.943a2.2 2.2 0 012.51 2.46c0 1.75-1.988 2.28-1.988 2.28a2.119 2.119 0 011.273 1.96 2.2 2.2 0 01-2.2 2.17 1.8 1.8 0 011.134 2.04 2.424 2.424 0 01-2.023 2.02 1.823 1.823 0 01.7 2.11c-.447 1.03-1.626 2.16-4.272 2.16h-12.36a1.754 1.754 0 01-1.779-.93V1513a1.959 1.959 0 01.07-.57zm-5.774-.9h4.844V1528h-4.844v-16.47zm-.781 0h4.844V1528H142v-16.47z" transform="translate(-142 -1500)"/> </svg>
        </div>
    </div>
</div>