<template>
    <div class="voting-box-feed">
        <div class="voting-box-feed__col" v-for="(person, index) in people" :key="index">
                <voting-card :data="person" :index="index" />
        </div>
    </div>
</template>

<script>
import votingCard from "./voting-card.vue";
export default {
    components: {
        "voting-card": votingCard,
    },
    props: ["people"]
}
</script>