<section>
    {{>@homepage-hero}}
</section>
<div class="outer-pad">
    <section>
        <h2>How it Works</h2>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.</p>
        <ul>
            <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
            <li>Donec id elit non mi porta gravida at eget metus.
                <ul>
                    <li>Tristique</li>
                    <li>Mattis</li>
                    <li>Nullam</li>
                </ul>
            </li>
            <li>Etiam porta sem malesuada magna mollis euismod.</li>
        </ul>
        <h3>Heading 3</h3>
        <ol>
            <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Etiam porta sem malesuada magna mollis euismod.</li>
        </ol>
    </section>  
      
</div>

