.main-header {
    color: #fff;
    box-sizing: border-box;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99;
    .main-header--nav-open & {
        height: 100%;
    }
    @include media('800') {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: auto!important;
        left: 0;
        padding: rem(32);
        position: absolute;
        &::before{
            background-image: linear-gradient(180deg, #000000 0%, transparent 99%);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: .9;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    @include media('1200'){
        padding: rem(32) rem(132);
    }
    & a {
        color: #fff;
        @include media('800') {
            color: #fff;
        }
    }
    &__bar {
        background-color: $yellow;
        box-sizing: border-box;
        display: block;
        height: rem(40);
        padding: rem(8) rem(16);
        position: relative;
        transition: background-color .3s;
        @include media('600') {
            height: rem(50);
        }
        @include media('800') {
            background-color: transparent;
            flex: 1 1 auto;
            padding: 0;
            width: 30%;
        }
    }
    &__logo {
        display: block;
        font-size: rem(24);
        font-weight: 400;
        line-height: (38 / 32);
        position: absolute;
        text-decoration: none;
        text-shadow: rem(-1) rem(1) rem(4) transparent;
        top: 50%;
        transform: translateY(-50%);
        transition: text-shadow .3s;
        @include media('800') {
            font-size: rem(32); 
        }
        &:hover, &:focus{
            text-shadow: rem(-1) rem(1) rem(4) #000;
        }

    }
    &__search {
        cursor: pointer;
        height: rem(28);
        position: absolute;
        right: rem(14);
        top: rem(6.8);
        width: rem(28);
        svg {
            height: 100%;
            position: absolute;
        }
        @include media('600') {
            top: rem(10);
        }
        @include media('800') {
            position: absolute;
            height: rem(28);
            right: rem(32);
            top: 50%;
            width: rem(30);
            transform: translateY(-50%);
        }
        @include media('1200'){
            right: rem(128);
        }
    }
    &__drawer {
        background-color: rgba(255, 255, 255, 0.7);
        display: none;
        height: 100%;
        pointer-events: none;
        position: relative;
        transform: translateX(100%);
        transition: transform .3s;
        width: 100%;
        &::before {
            backdrop-filter: blur(16px);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &--animate, body:not(.js) #nav-open:target &{
            transform: translateX(0);
        }
        .main-header--nav-open &, body:not(.js) #nav-open:target & {
            display: block;
            pointer-events: all;
        }
        @include media('800') {
            background-color: transparent;
            display: block!important;
            flex: 1 1 auto;
            height: auto;
            pointer-events: all;
            transform: translateX(0)!important;
            width: auto;
            &::before {
                display: none;
            }
        }
    }
    nav {
        ul {
            text-align: left;
            @include media('800'){
                text-align: right;
                padding: 0 rem(48) 0 0;
            }
            li {
                border-bottom: rem(1) solid $gray4;
                display: block;
                position: relative;
                @include media('800') { 
                    display: inline-block;
                    border-bottom: 0;
                }
                a {
                    background-color: transparent;
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    color: $base-font-color;
                    display: block;
                    padding: rem(16) rem(32);
                    position: relative;
                    text-shadow: rem(-1) rem(1) rem(4) transparent;
                    text-decoration: none;
                    transform: perspective(1px) translateZ(0);
                    transition: background-color .3s, color .3s, text-shadow .3s;
                    
                    &:hover,&:focus {
                        background-color: $teal;
                        color: #fff;
                        text-shadow: rem(-1) rem(1) rem(4) #000;
                        &::before{
                            left: 20%;
                            right: 20%;
                        }
                        @include media('800') {
                            background-color: transparent;
                        }
                    }
                    &::before {
                        display: none;
                        @include media('800') {
                            background: #fff;
                            bottom: 0;
                            box-shadow: rem(-1) rem(1) rem(4) rgba(0, 0, 0, 0.5);
                            content: "";
                            display: block;
                            left: 51%;
                            height: 4px;
                            right: 51%;
                            transition: left .3s, right .3s;
                            position: absolute;
                            z-index: -1;
                        }
                    }
                    @include media('800') {
                        color: #fff;
                        padding: rem(16) rem(24);
                    }
                }
            }
        }
    }
}
.main-header__toggle {
    background-color: $yellow;
    cursor: pointer;
    display: block;
    height: rem(32);
    position: absolute;
    right: rem(52);
    top: 50%;
    transform: translateY(-50%);
    width: rem(32);
    @include media('800'){
        display: none;
    }
    &.main-header__toggle--close {
        display: none;
    }
    body:not(.js) #nav-open:target & {
        display: none;
        &.main-header__toggle--close {
            display: block;
        }
    }
}
.main-header__toggle__icon {
  display: block;
  position: absolute;
  height: rem(3);
  width: rem(26);
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  &::before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: rem(3);
    width: rem(26);
    background-color: #fff;
    transition: transform 0.3s;
  }
  &::before {
    transform: translateY(-9px);
  }
  &::after {
    transform: translateY(9px);
  }
  .main-header--nav-open &, body:not(.js) #nav-open:target & {
    background-color: transparent;
    &::before {
      transform: translateY(1px) rotate(45deg);
    }
    &::after {
      transform: translateY(1px) rotate(-45deg);
    }
  }
}

body:not(.js) #nav-open:target {
    height: 100%;
}