<header class="main-header" id="nav-open">
    <div class="main-header__bar">
        <a href="/components/preview/home.html" class="main-header__logo"><h1 class="h1 h1--nav">Rule of Thumb.</h1></a>
        <a href="#nav-open" class="main-header__toggle">
            <span class="main-header__toggle__icon"></span>
            <span class="sr-only">Open Menu</span>
        </a>
        <a href="#" class="main-header__toggle main-header__toggle--close">
            <span class="main-header__toggle__icon"></span>
            <span class="sr-only">Close Menu</span>
        </a>     
    </div>
    <div class="main-header__drawer">
        <div class="main-header__nav">
            <nav>
                <ul>
                    {{#each menuItems}}
                        <li><a href="{{#if frctl.env.server }}/components/preview/{{url}}{{else}}/components/preview/{{url}}.html{{/if}}">{{title}}</a></li>
                    {{/each}}
                </ul> 
            </nav>
        </div>
    </div>   
    <div class="main-header__search">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 26"><path data-name="Composite Path" d="M10.26 1.592c4.4 0 8.68 2.879 8.68 8.625s-4.28 8.625-8.68 8.625-8.68-2.879-8.68-8.625 4.28-8.625 8.68-8.625zm0-1.592C5.19 0 0 3.4 0 10.217s5.19 10.216 10.26 10.216a10.983 10.983 0 005.49-1.443L22.42 26 24 24.409l-6.44-6.768a9.928 9.928 0 002.96-7.424C20.52 3.4 15.33 0 10.26 0z" fill="#fff" fill-rule="evenodd"/></svg>
    </div>
</header>