<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link media="screen" rel="stylesheet" href="{{ path '/css/index.css' }}">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <title>Preview Layout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <a class="skip-link sr-only button" href="#content">Skip to content</a>
            {{render '@header'}}
            <main id="content">
                {{{ yield }}}
            </main>
            {{render '@footer'}}
        </div>
        <script src="{{ path '/js/index.js' }}"></script>
        <link media="print" rel="stylesheet" href="{{ path '/css/print.css' }}">
    </body>
</html>

