<section>
    {{>@homepage-hero}}
</section>
<div class="outer-pad">
    {{>@banner}}
    <section>
        <h2>Votes</h2>
        {{render '@voting-box--feed'}}
    </section>  
    <section aria-label="Submit">
        {{render '@submit'}}
    </section>    
</div>

