.homepage-hero {
    display: block;
    position: relative;
    
    &__img{
        background-image: url("../../img/hero-image.jpg");
        background-position: center;
        background-size: cover;
        display: block;
        height: 0;
        width: 100%;
        padding-bottom: 75%;
        position: relative;
        @include media('1000') {
            padding-bottom: 65%;
        }
        @include media('1200') {
            padding-bottom: 55%;
        }
         
    }
    &__vote-box {
        box-sizing: border-box;
        @include media('600') {
            position: absolute;
            top: calc(50% - #{rem(22)});
            transform: translateY(-50%);
            width: 51%;
        }
        @include media('800'){
            top: 55%;
        }
        .outer-pad {
            
            @include media('600') {
                padding-bottom: 0;
                padding-right:0;
                padding-top: 0;
                padding-left: rem(16);
            }
            @include media('900') {
                padding-left: rem(64);
            }
            @include media('1200') {
                padding-left: rem(184);
            }
        }
    }
}
.homepage-hero__voting-info {
    bottom: 0;
    left: 0;
    display: flex;
    position: relative;
    width: 100%;
    @include media('600') {
        position: absolute;
    }
    &__legend {
        align-items: center;
        background-color: rgba(112, 112, 112, 1);
        color: #fff;
        display: block;
        font-size: rem(13);
        font-weight: 400;
        line-height: (20 / 13);
        margin-right: rem(26);
        padding: rem(16) 0 rem(16) rem(32);
        position: relative;
        text-align: right;
        text-transform: uppercase;
        width: 25%;
        &::after {
            background-color: rgba(112, 112, 112, 1);
            clip-path: polygon(65% 0, 65% 35%, 100% 50%, 65% 65%, 65% 100%, 0 100%, 0 0);
            content: '';
            display: block;
            position: absolute;
            right: rem(-16);
            top: 0; 
            width: rem(16); 
            height: 100%;
        }
        @include media('600') {
            background-color: rgba(112, 112, 112, .3);
            &::after {
                background-color: rgba(112, 112, 112, .3);
            }
        } 
    }
    &__time{
        background-color: rgba(237, 237, 237, 1);
        color: $gray2;
        flex: 1 1 auto;
        font-size: rem(36);
        font-weight: 300;
        line-height: (49 / 36);
        position: relative;
        &::before {
            background-color: rgba(237, 237, 237, 1);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 65%, 35% 50%, 0 35%);
            content: '';
            display: block;
            height: 100%;
            left:rem(-16);
            position: absolute;
            width: rem(16);
        }
        @include media('600') {
            background-color: rgba(237, 237, 237, .7);
            &::before {
                background-color: rgba(237, 237, 237, .7);
            }
        }
    }
    &__days{
        font-weight: 400;
    }
}