<div class="homepage-hero">
    <div class="homepage-hero__img"></div>
    <div class="homepage-hero__vote-box">
        <div class="outer-pad outer-pad--0mobile">
            {{>@voting-box--hero}}
        </div>
    </div>
    <div class="homepage-hero__voting-info">
        <div class="homepage-hero__voting-info__legend">
            <span>Closing in</span>
        </div>
        <div class="homepage-hero__voting-info__mask"></div>
        <div class="homepage-hero__voting-info__time">
            <span class="homepage-hero__voting-info__days">22</span>
            <span>days</span>
        </div>
    </div>
</div>