.main-footer {
    color: $gray1;
    display: block;
    font-size: rem(14);
    font-weight: 300;
    padding-top: 0;
    width: 100%;
    &__wrapper {
        padding-top: rem(32);
        position: relative;
        width: 100%;
        @include media('600') {
            align-items: center;
            display: flex;
        }
        &::before{
            content: "";
            display: block;
            background-image: linear-gradient(to right, $gray4 33%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
            height: rem(1);
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    a {
        color: $gray1;
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
    nav {
        flex: 1 1 70%;
    }
    ul {
        li {
            margin: 0 0 rem(16) 0;
            @include media('600') {
                display: inline-block;
                margin: 0 rem(24) 0 0;
            }
        }
    }
    &__social {
        margin: rem(32) 0 0 0;
        @include media('600') {
            align-items: center;
            display: flex;
            flex: 1 1 30%;
            justify-content: flex-end;
            margin: 0; 
        }
        &>*{
            @include media('600'){
                display: inline-block;
            }
        }
        ul {
            margin: rem(8) 0 0 0;
            li {
                display: inline-block;
                margin: 0 rem(16) 0 0;
                @include media('600'){
                    margin: 0 0 0 rem(16);
                }
            }
        }
    }
    &__social-icon {
        color: $gray1;
        display: block;
        height: rem(22);
        position: relative;
        width: rem(22);
        transition: color .3s;
        svg {
            fill: currentColor;
            height: 100%;
            left: 0;
            position: absolute;
        }
        &:hover, &:focus {
            color: $teal;
            svg {
                // fill: currentColor;
            }
        }
    }
}