<footer class="main-footer outer-pad" >
    <div class="main-footer__wrapper">
        <nav>
            <ul>
                {{#each menuItems}}
                    <li><a href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
        <div class="main-footer__social">
            <span>Follow us</span>
            <ul>
                <li>
                    <a href="#" class="main-footer__social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 21.800781 0 L 2.199219 0 C 1 0 0 1 0 2.199219 L 0 21.800781 C 0 23 1 24 2.199219 24 L 12 24 L 12 14 L 9 14 L 9 11 L 12 11 L 12 8 C 12 5.5 13 4 16 4 L 19 4 L 19 7 L 17.699219 7 C 16.800781 7 16 7.800781 16 8.699219 L 16 11 L 20 11 L 19.5 14 L 16 14 L 16 24 L 21.800781 24 C 23 24 24 23 24 21.800781 L 24 2.199219 C 24 1 23 0 21.800781 0 Z"/></svg>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-footer__social-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" width="24px" height="20px"><path d="M24 2.3c-.898.4-1.8.7-2.8.802C22.2 2.5 23 1.5 23.397.398c-1 .602-2 1-3.097 1.204C19.3.602 18 0 16.6 0A4.907 4.907 0 0011.7 4.898c0 .403 0 .801.102 1.102C7.699 5.8 4.1 3.898 1.699.898 1.2 1.602 1 2.5 1 3.398c0 1.704.898 3.204 2.2 4.102-.802-.102-1.598-.3-2.2-.602V7c0 2.398 1.7 4.398 3.898 4.8-.398.098-.796.2-1.296.2-.301 0-.602 0-.903-.102.602 2 2.403 3.403 4.602 3.403-1.7 1.3-3.801 2.097-6.102 2.097-.398 0-.8 0-1.199-.097C2.2 18.699 4.8 19.5 7.5 19.5c9.102 0 14-7.5 14-14v-.602c1-.699 1.8-1.597 2.5-2.597" fill-rule="nonzero"/></svg>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>