.submit {
    display: block;
    font-size: rem(24);
    font-weight: 300;
    line-height: (30 / 24);
    position: relative;
    &__img {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        img {
            height: 100%;
            object-fit: cover;
            width: rem(1040);
        }
        &::after{
            background-color: #fff;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: .85;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    &__wrapper{
        display: block;
        text-align: center;
        @include media('600') {
            align-items: center;
            display: flex;
            font-size: rem(30);
            text-align: left;
        }
    }
    &__control {
        flex: 1 0 rem(208);
        @include media('600') {
            margin-left: rem(32);
        }
        button {
            margin: rem(16) auto 0 auto;
            @include media('600') {
                margin: 0 0 0 auto;
            }
        }
    }
}