<div class="submit">
    <div class="submit__img">
        <img src="{{path '/img/submit.jpg'}}" alt="">
    </div>
    <div class="outer-pad outer-pad--small">
        <div class="submit__wrapper">
            <div class="submit__legend">Is there anyone else you would want us to add?</div>
            <div class="submit__control">
                <button class="button button--reverse">Submit a Name</button>
            </div>
        </div>
    </div>
</div>