.banner {
    box-sizing: border-box;
    color: $gray1;
    display: block;
    background-color: $gray3;
    padding-top: rem(16);
    position: relative;
    transition: height .6s, opacity .3s;
    @include media('700') {
        padding-top: 0;
        padding-right: rem(40);
    }
    .outer-pad{
        display: block;
        @include media('500') {
            align-items: center;
            display: flex;
        }
    }
    &__legend {
        display: block;
        flex: 1 0 rem(196);
        font-size: rem(22);
        text-align: center;
        span {
            display: block;
        }
        @include media('500') {
            margin-right: rem(32);
        }
    }
    &__legend__highlight{
        font-size: rem(38);
        font-weight: 700;
    }
    &__close-icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        height: rem(20);
        position: absolute;
        right: rem(24);
        top: 0;
        width: rem(20);
        &:hover, &:focus {
            span {
                &::before, &::after{
                   box-shadow: rem(-1) rem(1) rem(5) 0 rgba(0, 0, 0, .6);
                }
            }
        }
        @include media('400'){
            right: rem(28.8);
        }
        @include media('700'){
            right: rem(-16);
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            display: block;
            &::before, &::after {
                background-color: $gray1;
                box-shadow: rem(-1) rem(1) rem(5) 0 rgba(0, 0, 0, 0);
                content: "";
                display: block;
                height: 100%;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
                transition: box-shadow .3s;
                width: rem(2);
            }
            &::after{
                transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            }
        }
    }
}
.banner-wrapper {
    box-sizing: border-box;
    display: none;
    opacity: 0;
    position: relative;
    transition: height .3s, opacity .3s;
    &.banner-wrapper--show {
        display: block;
        opacity: 1;
    }
}
