<section aria-label="Banner" class="banner-wrapper banner-wrapper--show">
    <div class="banner" role="banner">
        <div class="outer-pad outer-pad--small">
            <div class="banner__legend">
                <span>Speak out. Be heard.</span>
                <span class="banner__legend__highlight">Be counted</span>
            </div>
            <div class="banner__description">
                <p>Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
            </div>
            <button class="banner__close-icon">
                <span></span>
                <span class="sr-only">Close Banner</span>
            </button>
        </div>
    </div>
</section>